%ic {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"],
[class*=" _icon-"] {
  &:before {
    @extend %ic;
    display: block;
  }
}

._icon-facebook:before {
  content: "\e903";
  color: #fff;
}
._icon-youtube:before {
  content: "\e904";
  color: #fff;
}
._icon-instagram:before {
  content: "\e908";
  color: #fff;
}
._icon-country:before {
  content: "\e909";
}
._icon-arrow:before {
  content: "\e900";
}
._icon-arrow-left:before {
  content: "\e901";
}
._icon-arrow-right:before {
  content: "\e902";
}
._icon-event-space:before {
  content: "\e905";
}
._icon-internet:before {
  content: "\e906";
}
._icon-meeting-room:before {
  content: "\e907";
}
._icon-user:before {
  content: "\e971";
}
._icon-users:before {
  content: "\e972";
}
